 body{
     background-image: url("FCBemp.jpg"); 
     background-repeat: no-repeat;
     position: center;
     height: 100%;
     background-size: cover;
     color: rgb(48, 48, 73);

} 
.heading{
    background-image: url("FCBemp.jpg"); 
    background-repeat:repeat;
    background-size:contain;
    
    position: center;
    width: 100%;
     
    text-align: center;
    padding: 20px;
}
#outer{
    width: 100%;
    text-align: center;
    padding: 20px;
    
}
.inner{
    display: inline-block;
    margin: auto;
    width:fit-content;
    
}
#submitbutton{
    margin-top: 5px;
    
}
input{
    border-radius: 10px;
    border-style: none;
    padding: 2px;
    outline:none;
    background-color:  rgb(209, 102, 102);
}
input:hover{
    background-color: rgb(194, 57, 57);
}
button{
    padding: 3px;
    border-radius: 10px;
    outline-color: none;
    outline-style: none;
    cursor: pointer;
    background-color: rgb(209, 102, 102);
    color: rgb(48, 48, 73);
    
}
button:hover{
    background-color: rgb(194, 57, 57);
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    
    gap: 1;
    
  }
  #allexpenses{
    color: rgb(27, 27, 37);
  }
  
  
  