body,html{
    height: 100%;
    background-color: rgb(163, 56, 56);
}

#background{
    background-image: url("FCBBackground.png");
     height: 100%; 
     background-position: center; 
    background-repeat: no-repeat;
     background-size: cover; 
     padding: 30px;
     
}
#inputs{
    
    text-align: right;
    margin: 30px;
    
}
input{
    border-radius: 10px;
    border-style: none;
    padding: 3px;
    outline:none;
}
button{
    padding: 5px;
    border-radius: 10px;
    outline-color: none;
    outline-style: none;
    cursor: pointer;
    
}
button:focus {
    
}