

body,html{
    height: 100%;
    margin:0;
    background-color: rgb(163, 56, 56);
    background-image: url("fcb.jpg");
    background-blend-mode: 0.3;
     height: 100%; 
     background-position: center; 
     
    background-repeat:repeat-x;
    background-repeat: repeat-y;
     background-size:cover; 
     color:rgb(211, 154, 80);
}

#background{
    
     padding: 30px;
     
}
.table{
    color:rgb(211, 154, 80);
}



/* body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
     The image used 
    background-image: url("img_girl.jpg");
  
    /* Full height 
    height: 100%; 
  
    /* Center and scale the image nicely 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

.heading{
    text-align: center;
    padding:10px;
    color:rgb(211, 154, 80);
}
/* .grid-container{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    column-gap:10px;

} */
.expensetable{
    text-align: center;
    color:rgb(211, 154, 80);

}
.update{
    padding: 10px;
    padding-bottom: 20px;
}


label{
    display: inline-block;
    
    clear: left;
    width: 250px;
    text-align: right;
    color:rgb(211, 154, 80);
}
input {
  display: inline-block;
  
}
select{
    display: inline-block;
  
}
.updatetitle{
    text-align: center;
    color:rgb(211, 154, 80);
}
button{
    padding: 5px;
    border-radius: 10px;
    outline-color: none;
    outline-style: none;
    cursor: pointer;
    background-color: rgb(233, 194, 143);
}
button:hover{
    background-color: rgb(228, 139, 24);
}
input:hover{
    background-color: rgb(228, 139, 24);
}
input{
    border-radius: 10px;
    border-style: none;
    padding: 2px;
    outline:none;
    background-color: rgb(233, 194, 143);
}
select{
    border-radius: 10px;
    border-style: none;
    
    outline:none;
    background-color: rgb(233, 194, 143);
}
select:hover{
    background-color: rgb(228, 139, 24);
}